<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marker View</title>
    <link href="/static/css/marker_view.css" rel="stylesheet">
</head>
<body>
    <div id="form-container">
        <h1>Grade Submission</h1>

        <h2>Submissions List</h2>
        <label for="assignment-id">Assignment ID:</label>
        <input type="text" id="assignment-id" required><br><br>

        <button type="button" id="fetch-submissions">Fetch Submissions</button>

        <div id="submission-list-container" class="submission-list"></div>

        <form id="grade-submission-form">
            <div id="feedback-form-container"></div>
            <button type="submit">Submit Feedback</button>
        </form>
    </div>
    <script src="/static/js/marker_view.js"></script>
</body>
</html>
