<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Feedback Form</title>
    <link href="/static/css/moduleorganiser_view.css" rel="stylesheet">
</head>
<body>
    <h1>Create Feedback Form</h1>

    <div id="form-container">
        <h3>Form Title:</h3>
        <input type="text" id="form-title" placeholder="Enter form title" required><br>

        <div id="question-list"></div>

        <button id="add-question-btn">Add Question</button><br><br>

        <button id="submit-form-btn">Submit Form</button>
    </div>

    <script src="/static/js/moduleorganiser_view.js"></script>
</body>
</html>
