<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}CSRS{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/create_assignment">Create Assignment</a>
        <a href="/view_assignments">View Assignments</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
